html, body {
  height: 100%;
}
body {
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('default.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
}
h3 {
  font-weight: 300;
}
textarea,
input {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 11px;
}
header {
  padding: 0 6px;
  background-color: rgba(37, 37, 37, 0.25);
  flex-wrap: wrap;
}
header>a {
  max-width: 100px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}
header>a,
header>a:visited {
  color: whitesmoke;
}
header>a:hover {
  background-color: rgba(255, 255, 255, 0.18);
}
header>a img{
  margin-right: 5px;
  min-width: 16px;
}
header>a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header [data-id=sidebar] {
  font-size: 180%;
}

.grid {
  background-color: rgba(37, 37, 37, 0.25);
  padding: 30px;
  color: whitesmoke;
}

#search {
  display: none;
}
#search input {
  border: none;
  width: 50vw;
  outline: none;
  background-color: rgba(37, 37, 37, 0.25);
  height: 32px;
  vertical-align: top;
  border-radius: 2px;
  text-indent: 5px;
}
#search input:focus {
  background-color: whitesmoke;
}
#search img {
  cursor: pointer;
}

#time {
  font: 60px Courier;
}
#date {
  font: 20px Courier;
}

#weather {
  font: 20px Courier;
  margin-top: 10px;
}
#weather[data-visible=false] {
  opacity: 0;
}
#weather i {
  margin-right: 10px;
}
#weather a {
  text-decoration: none;
  color: inherit;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: whitesmoke;
  border-right: solid 1px #ccc;
  transition-property: transform, opacity;
  opacity: 0;
  transform: translateX(100%);
  padding: 0 10px;
}
body[data-ready=true] #sidebar {
  transition: all 300ms ease;
}
#sidebar[data-open=true] {
  transform: translateX(0);
  opacity: 1;
}
header [data-id=sidebar] span {
  pointer-events: none;
}
#sidebar input[type=button] {
  border: none;
  background-color: #dedede;
  color: #000;
  border-radius: 0;
  min-width: 100px;
  padding: 3px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
}
#sidebar select,
#sidebar input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
#latitude,
#longitude {
  width: 50%;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[inline] {
  display: inline-flex;
}
[pack=center] {
  justify-content: center;
}
[align=center] {
  align-items: center;
}
[flex="1"] {
  flex: 1;
}

@-moz-document url-prefix() {
  .chrome {
    display: none;
  }
}
